.home {
    height: 100vh;
    @apply bg-main-2;
}

.home .home_content_container {
    background: url('/assets/homeImages/homeContainer-image.jpg') center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    @apply text-white;
}

.home .home_content_container .home_content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.home .home_content_container .home_content .home_circle {
    height: 60vh;
    width: 60vh;
    border-radius: 50%;
    @apply border-white border;
}

.home .home_content_container .home_content .home_texts {
    position: absolute;
    left: 0;
    bottom: 5%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.home .home_content_container .home_content .home_texts h3 {
    rotate: 90deg;
    text-transform: uppercase;
    font-size: 13px;
}

.home .home_content_container .home_content .home_texts p {
    font-size: 14px;
}

.home .home_content_container .home_content .home_circle .home_title {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.home .home_content_container .home_content .home_circle .home_title h2 {
    @apply font-italiana;
    font-size: 5vw;
    font-weight: 100;
    transform: translateX(-100px);
}

.home .home_content_container .home_content .home_circle .home_title h3 {
    font-size: 7vw;
    font-weight: 100;
    text-transform: uppercase;
    transform: translateX(100px);

}

.home .home_content_container .home_content .home_circle .home_title h2:nth-child(2) {
    font-size: 3vw;
    transform: translateX(10px);
}

/* SECTION STYLE */

.style_container {
    height: 100vh;
}

.style_container .style_slider section {
    height: 100vh;
    display: flex;
    align-items: center;
    @apply bg-main-2;
    overflow: hidden;
}

.style_container .style_slider section .formal_image {
    height: 80vh;
    width: 70vw;
    background: url('/assets/homeImages/formal-image.jpg') center/cover;
    margin-left: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem;
    position: relative;

}

.style_container .style_slider section .formal_image::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 30%;
    @apply bg-main-2;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, -50%);
}

.style_container .style_slider section .formal_image p {
    width: 30%;
    @apply text-white;
}

.style_container .style_slider section .formal_image p:nth-child(1) {
    text-align: start;
}

.style_container .style_slider section .formal_image p:nth-child(2) {
    text-align: end;
}

.style_container .style_slider section .formal_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8rem;
}

.style_container .style_slider section .formal_title h1 {
    font-size: 8vw;
    line-height: 1rem;
}

.style_container .style_slider section .formal_title h1:nth-child(1) {
    transform: translateX(-150px);
}

.style_container .style_slider section .formal_title .formal_subTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    position: relative;
}

.style_container .style_slider section .formal_title .formal_subTitle p {
    width: 50%;
}

.style_container .style_slider section .formal_title .formal_subTitle p:nth-child(1) {
    transform: translateX(30px);
}

.style_container .style_slider section .formal_title .formal_subTitle::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0%;
    @apply bg-main-1;
}

/* Section Casual */

.style_container .style_slider section:nth-child(2) {
    height: 100vh;
    display: grid;
    place-content: center;
}

.style_container .style_slider section:nth-child(2) .casual_content {
    height: 80vh;
    width: 90vw;
    background: url("/assets/homeImages/casual-image.jpg")center/cover;
    position: relative;
}

.style_container .style_slider section:nth-child(2) .casual_content .casual_title h1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8vw;
}

.style_container .style_slider section:nth-child(2) .casual_content .casual_title h1:nth-child(1) {
    top: 0%;
}

.style_container .style_slider section:nth-child(2) .casual_content .casual_title h1:nth-child(2) {
    bottom: -20%;
}

.style_container .style_slider section:nth-child(2) .casual_content .casual_sentences {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.style_container .style_slider section:nth-child(2) .casual_content .casual_sentences .sentence {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

.style_container .style_slider section:nth-child(2) .casual_content .casual_sentences .sentence::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    top: 50%;
    @apply bg-main-2;
}

.style_container .style_slider section:nth-child(2) .casual_content .casual_sentences .m_sentence {
    text-align: center;
}

.style_container .style_slider section:nth-child(2) .casual_content .casual_sentences .m_sentence h2 {
    text-transform: uppercase;
    @apply text-main-1;
}

.style_container .style_slider section:nth-child(2) .casual_content .casual_sentences .sentence p {
    @apply text-main-2;
    text-align: center;
}

/* Section vixen  */

.style_container .style_slider section:nth-child(3) {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 14px;
    position: relative;
}

.style_container .style_slider section:nth-child(3) .vixen_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    text-align: center;
}

.style_container .style_slider section:nth-child(3) .vixen_title h1 {
    font-size: 5vw;
}
.style_container .style_slider section:nth-child(3) .vixen_title p{
    width: 50%;
}
.style_container .style_slider section:nth-child(3) .vixen_subtitles{
    position:  absolute;
    left: 5%;
    bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.style_container .style_slider section:nth-child(3) .vixen_subtitles span{
    border-bottom: 1px solid #181818;
}

.style_container .style_slider section:nth-child(3) .vixen_image {
    height: 80vh;
    width: 60vw;
   background: url("/assets/homeImages/vixen-image.jpg")center/cover;   
   position: relative;
}

.style_container .style_slider section:nth-child(3) .vixen_image h1 {
    rotate: -90deg;
    font-size: 4vw;
    position: absolute;
    right: -20%;
    top: 50%;
    @apply text-main-2 ;
}

.products_container{
    height: 100vh;
    width: 100%;
    position: absolute;
    bottom: -300%;
    overflow: hidden;
}
.products_container .new_collection{
    @apply bg-main-1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.products_container .new_collection h1{
    font-size: 7vw;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    @apply text-main-2 z-10;
}
.products_container .new_collection h3{
    width: 100vw;
    font-size: 17vw;
    opacity: 0.4;
    position: absolute;
    top: 10%;
    left: 50%;
    @apply text-main-4 font-italiana;
}
.products_container .new_collection .new_collection_image{
    height: 80vh;
    width: 30vw;
    object-fit: cover;
    z-index: 1;
    transform: translateY(-100px);
}
.products_container .products{
    height: 100vh;
    width: 100vw;
    background-color: #181818;
    position: absolute;
    bottom: 0%;
    left: 100%;
}
@media (max-width:960px) {
    .style_container .style_slider section .formal_title {
        gap: 3rem;
    }

    .style_container .style_slider section:nth-child(2) .casual_content .casual_title h1 {
        font-size: 70px;
    }

    .style_container .style_slider section:nth-child(2) .casual_content .casual_title h1:nth-child(1) {
        top: 0%;
    }

    .style_container .style_slider section:nth-child(2) .casual_content .casual_title h1:nth-child(2) {
        bottom: -17%;
    }

}

@media (max-width:768px) {
    .home header nav::after {
        width: 50%;
    }

    .home .home_content_container .home_content .home_circle {
        height: 50vh;
        width: 50vh;
    }

    .home .home_content_container .home_content .home_circle .home_title h2 {
        font-size: 50px;
    }

    .home .home_content_container .home_content .home_circle .home_title h3 {
        font-size: 60px;
    }

    .style_container .style_slider section .formal_image p {
        font-size: 10px;
    }

    .style_container .style_slider section .formal_title h1 {
        font-size: 50px;
    }

    .style_container .style_slider section .formal_title h1:nth-child(1) {
        transform: translateX(-100px);
    }

    .style_container .style_slider section .formal_title .formal_subTitle p {
        font-size: 12px;
        width: 80%;
    }

    .style_container .style_slider section .formal_title .formal_subTitle p:nth-child(1) {
        transform: translateX(0px);
    }

    .style_container .style_slider section:nth-child(2) .casual_content .casual_title h1:nth-child(2) {
        bottom: -20%;
    }

    .style_container .style_slider section:nth-child(2) .casual_content .casual_sentences {
        flex-direction: column;
    }

    .style_container .style_slider section:nth-child(2) .casual_content .casual_sentences .sentence {
        gap: 0px;
    }

    .style_container .style_slider section:nth-child(2) .casual_content .casual_sentences .sentence::after {
        display: none;
    }

    .style_container .style_slider section:nth-child(3) {
        padding: 0 1rem;
    }

    .style_container .style_slider section:nth-child(3) .vixen_title h1{
        font-size: 30px;    
    }

    .style_container .style_slider section:nth-child(3) .vixen_title p{
        font-size: 12px;
    }

    .products_container .new_collection .new_collection_image{
        width:40vw;
    }
}


@media (max-width:425px) {

    .home .home_content_container .home_content .home_circle .home_title h2 {
        transform: translateX(0px);
    }

    .home .home_content_container .home_content .home_circle .home_title h3 {
        transform: translateX(0px);
    }

    .style_container .style_slider section .formal_image {
        flex-direction: column;
        align-items: flex-start;
    }

    .style_container .style_slider section .formal_image::after {
        left: 5%;
        bottom: 20%;
        height: 30%;
        width: 1px;
    }

    .style_container .style_slider section .formal_image p:nth-child(2) {
        text-align: left;
    }

    .style_container .style_slider section:nth-child(2) .casual_content .casual_sentences .sentence p {
        font-size: 13px;
    }
    .style_container .style_slider section:nth-child(3) .vixen_subtitles{
        gap: 13px;
    }
    .style_container .style_slider section:nth-child(3) .vixen_subtitles span{
        font-size: 12px;
    }
    .products_container .new_collection .new_collection_image{
        width:200px;
    }
}

@media (max-width:320px) {
    .home .home_content_container .home_content .home_circle {
        height: 40vh;
        width: 40vh;
    }
}