footer{
    @apply bg-main-2 p-4;
}
footer .footer_informations{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    text-align: start;
    gap: 1rem;
}
footer .footer_informations ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 1rem;
}
footer .footer_informations ul li{
    font-size: 14px;
    color: #171717cd;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
footer .footer_informations ul li::after{
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    border: 1px solid #1717177c;
    bottom: 10%;
    left: -100%;
    transition: 1s;
}
footer .footer_informations ul li:hover::after{
    width: 10%;
    left: 110%;

}
footer .footer_informations ul li span{
    @apply text-main-1 font-bold;
}
footer .footer_informations ul li p{
    text-align: start;
}
footer .copy{
    border-top: 1px solid #181818;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    font-weight: bold;
}
footer .copy a{
    font-size: 13px;
}
footer .copy h3{
    font-size: 14px;
}
footer .copy p{
    font-size: 13px;
}