@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .auth {
    @apply font-libreFranklin w-full h-screen bg-main-2;
  }
}

/* Css */

.signIn {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;

}

.signIn_images {
  height: 500px;
  display: grid;
  grid-template-columns: 1fr .5fr .5fr 1fr;
  grid-template-rows: .5fr 1.5fr 1fr 1.5fr .5fr;
  gap: 10px;

  .signIn_image {
    height: 100%;
    width: 100%;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;

    }

    &:nth-child(2),
    &:nth-child(3) {
      border-radius: 50% 0% 50% 0%;
    }

    &:nth-child(1) {
      grid-area: 2/2/3/3;
    }

    &:nth-child(2) {
      grid-area: 1/3/4/5;
    }

    &:nth-child(3) {
      grid-area: 3/1/6/3;
    }
    &:nth-child(4) {
      grid-area: 4/3/5/4;
    }
  }
}

.signIn_form {
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
}

.signIn_form h2 {
  font-size: 30px;
  @apply text-main-3
}


.signIn_form button {
  margin-top: 1rem;
  padding: 10px 3rem;
  text-transform: uppercase;
  font-size: 14px;
  transition: 1s;
  position: relative;
  overflow: hidden;
  z-index: 100;
  @apply text-main-3 border-solid border-[1px] border-main-3
}

.signIn_form button:hover {
  @apply bg-main-3 text-main-2
}

.signIn_form a {
  @apply text-main-4
}

@media (max-width:1000px){
  .signIn{
    padding: 0 10px;
    .signIn_images{
      height: 500px;
      width: auto;
    }
  }
}

@media (max-width:768px){
  .signIn{
    gap: 1rem;
    .signIn_images{
      height: 400px;
    }
  }
}

@media (max-width:580px){
  .signIn{
    justify-content: center;
    padding: 0px;
    .signIn_images{
      display: none;
    }
  }
}